<a href="https://colab.research.google.com/github/sergioarnold87/RNC-para-NLP_Pyhton/blob/main/RNC_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FASE 1 - Importar dependencias

In [1]:
import numpy as np
import math
import re
import pandas as pd
from bs4 import BeautifulSoup

from google.colab import drive

In [2]:
try:
    %tensorflow_version 2.x
except Exception:
    pass
import tensorflow as tf

from tensorflow.keras import layers
import tensorflow_datasets as tfds

# FASE 2: Pre Procesado de DAtos

## Cargar Archivos

In [3]:
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
cols = ["sentiment", "id", "date", "query", "user", "text"]
train_data = pd.read_csv(
    "/content/drive/MyDrive/Datasets/trainingandtestdata/train.csv",
    header=None,
    names=cols,
    engine="python",
    encoding="latin1"
)
test_data = pd.read_csv(
    "/content/drive/MyDrive/Datasets/trainingandtestdata/test.csv",
    header=None,
    names=cols,
    engine="python",
    encoding="latin1"
)

In [5]:
train_data.head(5)

   sentiment  ...                                               text
0          0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  ...  is upset that he can't update his Facebook by ...
2          0  ...  @Kenichan I dived many times for the ball. Man...
3          0  ...    my whole body feels itchy and like its on fire
4          0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

El conjunto de datos de testing tiene 3 etiquetas diferentes (una negativa, una positiva y una neutra), mientras que el conjunto de datos de entrenamiento tiene solo dos, por lo que no usaremos el archivo de testing y dividiremos el archivo de entrenamiento m√°s tarde nosotros mismos.

In [6]:
data = train_data

# Pre Procesado

## Limpieza

In [8]:
data.drop(["id", "date", "query", "user"], 
          axis = 1,
          inplace = True)

In [ ]:
def clean_tweet()